modules = ["web"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 40490907
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd ArabicChatbot && python app.py"
